[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pylint = "*"
yapf = "*"
pipenv-setup = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"

[packages]
click = "*"
marshmallow = "*"
pyyaml = "*"
victoria = {editable = true,path = "."}
victoria_config = {editable = true,path= "example_plugins/victoria_config"}
appdirs = "*"

[requires]
python_version = "3.7"
