[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pylint = "*"
yapf = "*"
pipenv-setup = "*"
pytest = "*"
pytest-cov = "*"
pytest-azurepipelines = "*"
pyfakefs = "*"
munch = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
m2r = "*"
sphinx-autoapi = "*"
bandit = "*"

[packages]
click = "*"
marshmallow = "*"
pyyaml = "*"
victoria = {editable = true,path = "."}
victoria_config = {editable = true,path = "example_plugins/victoria_config"}
victoria_store = {editable = true,path = "example_plugins/victoria_store"}
victoria_encrypt = {editable = true,path = "example_plugins/victoria_encrypt"}
appdirs = "*"
azure-storage-blob = "*"
cryptography = "*"
azure-keyvault = "*"
azure-identity = "*"
dpath = "*"
azure-cli-core = "*"

[requires]
python_version = "3.7"
